body {
    font-size: 20px;
    background-color: blue;
    font-family: 'Press Start 2P', cursive;
    
}

h1 {
    font-weight: bolder;
    color: black;
    text-align: center;
    font-size: 40px;
    line-height: 50px;
}

p {
    line-height: 30px;
}

.pt-50 {
    padding-top: 50px;
}

.navbar {
    background-color: #dddddd;
    box-shadow: 0 10px 5px black;
    padding: 20px;
}

.info {
    background-color: #dddddd;
    box-shadow: 0 10px 5px black;
    margin: 20px;
    padding:20px;
    box-sizing: border-box;
}

.sample {
    background: white;
    color: black;
    position: relative;
    z-index: 1;
}

.sample:hover {
    background: #b9fd82;
    width: 100%;
    transition: ease-in-out 200ms;
}

.game-list span.game {
    background-color: #fff;
    transition: ease-in-out 500ms;
}

.game-list span.game:hover {
    background-color: #b9fd82;
    border-radius: 10px;
    transition: ease-in-out 500ms;
}

.game-option {
    background: #b9fd82;
    transition: ease-in-out 500ms;
    text-decoration: underline;
}

.link {
    color: black;
}

  @keyframes show2 {
    0% {background-color: #fff;}
    50% {background-color: transparent;}
    100% {background-color: #fff;}
  }

.link, .game  {
    background-color: transparent;
    animation-name: show2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .game:hover,.game:focus
  .link:hover,.link:focus,
  .game-option:hover,.game-option:focus,
  .game-list span.game:hover, .game-list span.game:focus {
    animation-play-state: paused;
  }
