body {
    font-size: 16px;
    background-color: blue;
    font-family: 'Press Start 2P', cursive;
    
}


h1 {
    font-weight: bolder;
    color: black;
    text-align: center;
    font-size: 3em;
    line-height: 50px;
}

p {
    line-height: 30px;
}

.pt-50 {
    padding-top: 50px;
}

.navbar {
    background-color: #dddddd;
    box-shadow: 0 10px 5px black;
    padding: 20px;
    border: 2px dashed blue;
}

.info {
    background-color: #dddddd;
    box-shadow: 0 10px 5px black;
    margin: 20px;
    padding:20px;
    box-sizing: border-box;
    border: 2px dashed blue;
}

.sample {
    background: white;
    color: black;
    position: relative;
    z-index: 1;
    word-break: break-all;
}

.sample:hover {
    background: #b9fd82;
    width: 100%;
    transition: ease-in-out 200ms;
}

.game-list span.game {
    background-color: #fff;
    transition: ease-in-out 500ms;
}

.game-list span.game:hover {
    background-color: #b9fd82;
    border-radius: 10px;
    transition: ease-in-out 500ms;
}

.game-option {
    background: #b9fd82;
    transition: ease-in-out 500ms;
    text-decoration: underline;
}

.link {
    color: black;
    word-break: break-all;
}

  @keyframes show2 {
    0% {background-color: #fff;}
    50% {background-color: transparent;}
    100% {background-color: #fff;}
  }

.link, .game  {
    background-color: transparent;
    animation-name: show2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .game:hover,.game:focus
  .link:hover,.link:focus,
  .game-option:hover,.game-option:focus,
  .game-list span.game:hover, .game-list span.game:focus {
    animation-play-state: paused;
  }

  @media only screen and (max-width: 1023px) {
      p {
        font-size: 0.8em;
      }
      h1 {
          font-size: 1.2em;
      }
      .info {
          margin: 20px 0;
      }
      .navbar {
          padding: 5px;
      }
  }