
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <title>API USERS</title>

    <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
    </script>
  <link rel="stylesheet" href={{url_for('static', filename='css/styles.css')}} media="screen"/>
  </head>
  <body>
    <nav class="navbar">
      <h1>Bem Vindo :D</h1>
    </div>
    </nav>

  <main role="main">
    <div class="info pt-50">
      <h3>Como acessar os dados</h3>
      <p>Faça uma requisição GET para este endereço: <a class="link">https://firebase-middleware-2.herokuapp.com/<strong>APP</strong></p>
      <p>onde <strong>APP</strong> é o código do aplicativo que retornará os dados dos usuários.</p>
      <p class="game-list">APPs cadastrados: <span class="game">Game1</span>, <span class="game">Game2</span>, <span class="game">Game3</span></p>
      <p></p>
      <p class="sample">Exemplo: https://firebase-middleware-2.herokuapp.com/<span class="game-option">Game1</span></p>
      <!--<p class="sample-copy">Clique na URL para copiar</p>-->
    </div>
    
  </main>

  <script src={{url_for('static', filename='js/script.js')}}></script>
  </body>

</html>
